@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

#nav {
  height: 40px;
  box-shadow: rgba(104, 104, 104, 0.59) 30px 5px 20px;
  background-color: rgba(255, 255, 255, 0.117);
  backdrop-filter: blur(40px);
  opacity: "0.5";
}

#navList {
  display: flex ;
  flex-direction: column ;
  font-family: "Josefin Sans", sans-serif;
  ul{
    list-style: none;
  }
  
}

#logo {
  position: absolute;
  left: 5%;
  top: 1px;
  color: white;
  font-family: "Rubik Dirt", system-ui;
 
}
#navList img {
  width: 25px;
  height: 40px;
}
.menu {
  color: rgba(255, 255, 255, 0.702);
  display: flex;
  position: absolute;
  right: 0;
  margin: 7px;
  top: 10px;
  a {
    padding-left: 9px;
    padding-right: 9px;
    color: rgb(221, 217, 217);
    text-decoration: none;
    
  }
}

.menu a:hover {
  color: white;
}
