@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

.popup {
  background-color: rgb(43, 48, 63);
  width: 800px;
  height: 550px;
  color: white;
  border-radius: 3px;
  animation-name: border;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgb(52, 52, 52);
  z-index: 4;
}
.comments {
  background-color: rgba(255, 255, 255, 0);
  width: 310px;
  height: 330px;
  position: absolute;
  bottom: 140px;
  left: 60%;
  overflow-y: scroll, auto;
  overflow-x: hidden;
  border-radius: 3px;
}
.no-comments {
  position: absolute;
  left: 40px;
  margin: 10px;
  color: #9c9797;
}
.add-comment {
  position: absolute;
  top: 450px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 59%;

  input {
    color: #000;
    border-radius: 3px;
    color: #747475;
    width: 200px;
    background-color: #282727;
  }
  button {
    margin-left: 30px;
    background: linear-gradient(
      135deg,
      rgba(22, 187, 110, 1) 0%,
      rgba(2, 196, 211, 1) 100%
    );
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
  }
}
.comments-header {
  position: absolute;
  bottom: 490px;
  left: 60%;
}
.popup img {
  width: 450px;
  height: 500px;
  margin-left: 10px;
}
.description {
  color: white;
  position: absolute;
  bottom: 40px;
  margin: 5px;
  padding: 2px;
  background-color: rgba(236, 236, 236, 0.372);
  backdrop-filter: blur(2px);
  width: 55%;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 15px;
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 18px;
  }
}

#closeBtn {
  position: relative;
  margin-top: 8px;
  left: 760px;
  background-color: rgb(24, 24, 24);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
}
#closeBtn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

#openBtn {
  background: radial-gradient(
    circle,
    rgba(255, 97, 180, 1) 0%,
    rgba(255, 23, 176, 1) 35%,
    rgba(252, 31, 76, 1) 100%
  );
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 3px;
  width: 80px;
  position: absolute;
  left: 150px;
  bottom: 20px;
}
#openBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.593) 20px 15px 20px;
}

@keyframes border {
  0% {
    border: rgb(0, 0, 0) 0px solid;
  }
  20% {
    border: rgb(0, 0, 0) 0px solid;
  }
  40% {
    border: rgb(0, 0, 0) 0px solid;
  }
  60% {
    border: rgb(0, 0, 0) 0px solid;
  }
  80% {
    border: rgb(0, 0, 0) 0px solid;
  }
  90% {
    box-shadow: rgb(0, 0, 0) 20px 15px 20px;
  }
  99% {
    box-shadow: rgb(0, 0, 0) 20px 15px 20px;
  }
}

@media only screen and (max-width: 1255px) {
  .popUp {
    width: 350px;
    margin-right: 500px;
    margin-left: 600px;
  }
}
