@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

#containerDiv {
  display: flex;
  margin-bottom: 100px;
}
#cardsDiv {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  position: relative;
  left: 130px;
}

#containerDiv #userCard {
  margin-top: 40px;
  width: 230px;
  height: 350px;
  box-shadow: rgb(0, 0, 0) 15px 15px 15px;
  background-color: rgba(230, 231, 234, 0.15);
  border-radius: 10px;
}

#userCard img {
  background-image: url(../img/person.jpg);
  background-size: cover;
  width: 230px;
  height: 210px;
  border-radius: 12px;
}
#userCard:hover {
  box-shadow: rgba(0, 0, 0, 0.991) 20px 15px 20px;
}
h2 {
  color: #fffcfcfb;
  border-bottom: rgb(100, 100, 100) 1px solid;
  width: 98%;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 3px;
}
h5 {
  font-size: 15px;
  color: rgb(145, 145, 145);
}
h5 .icon {
  color: crimson;
}
h6 {
  position: absolute;
  left: 11px;
  font-size: 10px;
  color: cornflowerblue;
}
h6 .icon {
  color: cornflowerblue;
  font-size: 16px;
}
#sideBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.logOut {
  position: relative;
  left: 93.5%;
  margin-bottom: 5px;
  text-decoration: none;
  background-color: rgb(235, 66, 99);
  color: white;
  top: 5px;
}
.logOut .logOutIcon {
  width: 19px;
  height: 14px;
}
.logOut:hover {
  background-color: rgb(223, 27, 67);
}
.brand {
  color: rgb(211, 211, 211);
}
.icon1 {
  color: rgb(190, 126, 255);
}

.price {
  color: rgba(178, 247, 205, 0.717);
}
.model {
  color: rgba(255, 255, 255, 0.548);
}

.add-to {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.add-btn {
  background: radial-gradient(
    circle,
    rgba(255, 97, 180, 1) 0%,
    rgba(255, 23, 176, 1) 35%,
    rgba(252, 31, 76, 1) 100%
  );
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 3px;
  width: 80px;
  z-index: 1;
}

.loading {
  margin: 10px auto;
  width: 100px;
  height: 100px;
}
.rating {
  margin-left: 4px;
}
.category {
  color: #7f7c7c;
  margin-left: 7px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
