.loading {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.new-user {
  margin: 10px;
  background-color: aliceblue;
}

.title {
  background-color: rgb(31, 31, 42);
  color: white;
  text-align: center;
}

.table {
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.addBtn {
  margin-top: 10px;
}
